<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= user %>
    </title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
        
        .header {
            height: 75px;
            background: #0d0d0d;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 2px solid rgba(255, 255, 255, 0.13);
        }
        
        .header-left {
            padding: 10px;
        }
        
        .header-left>h1 {
            font-size: 4vmin;
            font-weight: 600;
            color: #fff;
        }
        
        .header-right {
            padding: 10px;
        }
        
        .nav-list {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            list-style: none;
        }
        
        .nav-list>li {
            margin-inline-start: 10px;
            margin-inline-end: 10px;
        }
        
        .nav-list>li>a {
            padding-bottom: 5px;
            font-size: 3.5vmin;
            color: #fff;
            border-bottom: 2px solid transparent;
            text-decoration: none;
        }
        
        .nav-list>li>a:hover {
            border-bottom: 2px solid #f5f5f5;
            transition: all 0.2s ease-in-out;
        }
        
        .container {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            background: #080710;
        }
        
        .container-up {
            position: relative;
            height: 30vh;
            width: 100%;
            padding: 20px;
            background: linear-gradient(to bottom, #184ad1, #23a2f6);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        
        .profile-div {
            display: flex;
            align-items: center;
            padding: 15px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            width: 90%;
            position: absolute;
            background: rgba(255, 255, 255, 0.13);
            filter: drop-shadow(2px 2px 2px #23244f);
        }
        
        .profile-div>h2 {
            margin-top: 10px;
            font-size: 4vmin;
            color: hsl(0, 0%, 96%);
        }
        
        .img-div {
            background: #184ad1;
        }
        
        .img-div>img {
            height: 15vmin;
            width: auto;
            object-fit: contain;
        }
        
        .text-div {
            margin-left: 15px;
        }
        
        .text-div>h1 {
            font-size: 5.5vmin;
            color: #f5f5f5;
            text-shadow: 2px 2px 2px #0d0d0d;
        }
        
        .text-div>h2 {
            font-size: 3vmin;
            color: #efefef;
        }
        
        .profile-info-div {
            margin: 20px;
            margin-top: 0;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            background: rgba(255, 255, 255, 0.13);
            width: auto;
            color: #f5f5f5;
            font-size: 2.5vmin;
        }
        
        .profile-info-posts {
            padding: 10px;
            margin: 2px;
            width: 25vmin;
            font-size: 3vmin;
            border: 1px solid rgba(255, 255, 255, 0.13);
            background: #184ad1;
            color: #f5f5f5;
            text-align: center;
        }
        
        .activity-div {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            padding: 30px;
            background: #0d0d0d;
            border-bottom: 2px solid rgba(255, 255, 255, 0.13);
            overflow-x: scroll;
        }
        
        .activity-div>.activity-row {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .container-down * {
            color: #f5f5f5;
        }
        
        .container-down {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        .post-header {
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: start;
            border-bottom: 2px solid rgba(255, 255, 255, 0.13);
        }
        
        .post-header * {
            font-size: 3vmin;
            color: #f5f5f5;
        }
        
        .post-title {
            text-align: center;
            font-size: 3vmin;
        }
        
        .post-user {
            font-size: 2vmin;
        }
        
        .post-body {
            padding: 15px;
            background: rgba(255, 255, 255, 0.13);
            margin: 10px;
            border-radius: 10px;
            filter: drop-shadow(0px 0px 5px #000);
        }
        
        .post-body>.post-text {
            margin-top: 10px;
            font-size: 3vmin;
            color: #f5f5f5;
        }
        
        .post-div {
            min-height: 40vh;
            max-height: 100%;
            margin-bottom: 10px;
            border-left: 2px solid rgba(255, 255, 255, 0.13);
            border-right: 2px solid rgba(255, 255, 255, 0.13);
            padding: 10px;
            background: rgba(255, 255, 255, 0.13);
            margin-top: 10px;
            width: 70vw;
        }
        
        @media(max-width:1024px) {
            .post-div {
                width: 100vw;
            }
        }
        
        .post-title {
            color: #23a2f6;
            text-align: left;
            font-size: 3.5vmin;
            font-weight: 600;
        }
        
        .post-header>.post-image {
            margin-top: -1px;
            height: 7vmin;
            width: auto;
            border-radius: 50%;
            object-fit: contain;
        }
        
        .post-subheader * {
            color: #f5f5f5;
        }
        
        .post-subheader>.post-name {
            margin-left: 10px;
            font-size: 3vmin;
        }
        
        .post-subheader>.post-date {
            margin-left: 10px;
            margin-top: 5px;
            font-size: 2vmin;
        }
        
         ::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
        
        .centered {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .post-footer {
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        .post-footer>.post-btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 8px;
            background: #23a2f6;
            color: #f5f5f5;
            width: 30%;
        }
        
        .post-btn>img {
            height: 6vmin;
            width: 6vmin;
            object-fit: contain;
        }
        
        .post-image {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        
        .post-image {
            margin-top: 15px;
            border-top: 2px solid rgba(255, 255, 255, 0.13);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .post-image>img {
            width: 75%;
            max-height: calc(100vh - 75px);
            object-fit: contain;
            margin-top: 20px;
        }
        
        .like-div {
            display: flex;
            align-items: center;
            width: 40%;
        }
        
        .like-btn {
            background: #23a2f6;
            color: #f5f5f5;
            padding: 10px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border: none;
            outline: none;
            width: 100%;
        }
        
        .like-btn-al {
            background: #184ad1;
            color: #f5f5f5;
            padding: 10px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border: none;
            outline: none;
            width: 100%;
        }
        
        .delete-btn {
            background: #ff512f;
            color: #f5f5f5;
            padding: 10px;
            border-radius: 10px;
            width: 100%;
            border: none;
            outline: none;
        }
        
        .delete-div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40%;
        }
        
        .delete-btn:hover {
            background: #d10023;
            transition: all 0.2s ease-in-out;
        }
        
        .follow-btn {
            padding: 5px;
            width: 30vmin;
            background: linear-gradient(to right, #23244f, #184ad1);
            color: #f5f5f5;
            border-radius: 10px;
            outline: none;
            font-size: 3.5vmin;
            border: none;
        }
        
        .unfollow-btn {
            padding: 5px;
            width: 30vmin;
            background: linear-gradient(to right, #184ad1, #23244f);
            color: #f5f5f5;
            border-radius: 10px;
            outline: none;
            font-size: 3.5vmin;
            border: none;
        }
        
        @media(max-width:1024px) {
            .follow-btn {
                margin-top: 50px;
            }
            .unfollow-btn {
                margin-top: 50px;
            }
        }
        
        .follow-div {
            top: 40%;
            left: 80%;
        }
        
        @media(max-width:1024px) {
            .follow-div {
                left: -6%;
            }
            .loader {
                top: 0%;
                left: 25%;
            }
        }
        
        #loadingDiv {
            position: absolute;
            ;
            top: 0;
            left: 0;
            z-index: 100;
            width: 100%;
            margin-top: 60px;
            height: calc(100vh - 60px);
            background-color: #080710;
        }
        
        .loader {
            position: absolute;
            top: 45%;
            left: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        
        @media(max-width:1024px) {
            .loader {
                top: 50%;
                left: 30%;
            }
        }
        
        .loader>p {
            display: inline-block;
            text-transform: uppercase;
            text-align: center;
            font-size: 10vmin;
            font-family: arial;
            font-weight: 600;
            transform: scale(.5);
            color: #121212;
            -webkit-text-stroke: 2px gray;
        }
        
        .loader>p:nth-child(1) {
            animation: var(--effect);
        }
        
        .loader>p:nth-child(2) {
            animation: var(--effect) .125s;
        }
        
        .loader>p:nth-child(3) {
            animation: var(--effect) .25s;
        }
        
        .loader>p:nth-child(4) {
            animation: var(--effect) .375s;
        }
        
        .loader>p:nth-child(5) {
            animation: var(--effect) .5s;
        }
        
        .loader>p:nth-child(6) {
            animation: var(--effect) .675s;
        }
        
        .loader>p:nth-child(7) {
            animation: var(--effect) .75s;
        }
        
        @keyframes hover {
            0% {
                transform: scale(.5);
                color: #121212;
                -webkit-text-stroke: 2px #cae7df;
            }
            20% {
                transform: scale(1);
                color: #23a2f6;
                -webkit-text-stroke: 3px #ff512f;
                filter: drop-shadow(0 0 1px #080710)drop-shadow(0 0 1px #080710)drop-shadow(0 0 3px #ff512f)drop-shadow(0 0 5px #ff512f)hue-rotate(10turn);
            }
            50% {
                transform: scale(.5);
                color: #121212;
                -webkit-text-stroke: 2px gray;
            }
        }
    </style>
</head>

<body>
    <div class="header">
        <div class="header-left">
            <h1>
                <%= user %>
            </h1>
        </div>
        <div class="header-right">
            <ul class="nav-list">
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/logout">Logout</a></li>
        </div>
    </div>
    <div class="container">
        <div id="loadingDiv">
            <div class="loader">
                <p>l</p>
                <p>o</p>
                <p>a</p>
                <p>d</p>
                <p>i</p>
                <p>n</p>
                <p>g</p>
            </div>
        </div>
        <div class="container-up">
            <div class="profile-div">

            </div>
        </div>
        <div class="profile-info-div">

        </div>
        <div class="activity-grid">
        </div>
        <div class="container-down">
            <div class="post-div">

            </div>
        </div>
    </div>
    <script>
        async function fetchData() {
            const stringname = "<%= username %>";
            console.log(stringname);
            var mapData = new Map();
            const mapOfLikes = await fetch('/likesmap').then(res => res.json())
                .then(data => {
                    data.forEach(like => {
                        mapData.set(like.crid, like.count);
                    })
                })
                .catch(err => {
                    console.log(err);
                })
            var mapUserLikes = new Map();
            const mapUsers = await fetch('/likes/' + '<%= username %>')
                .then(res => res.json())
                .then(data => {
                    data.forEach(like => {
                        mapUserLikes.set(like.postid, true);
                    })
                })
            const data = await fetch('/users/api/' + stringname)
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    const user = "<%= user %>";
                    if (user === "My profile") {
                        console.log('Edit')
                    }
                    const containerRight = document.querySelector('.profile-div');
                    containerRight.innerHTML = `
                <div class="img-div">
                    <img src ="https://cdn.pixabay.com/photo/2013/07/13/12/07/avatar-159236_1280.png"/>
                </div>
                <div class="text-div">
                <h1>${data[0].username}</h1>
                <h2>${data[0].email}</h2>
                </div>
                `;

                });

            const followData = await fetch('/followlog')
                .then(res => res.json())
                .then(data => {
                    var numberOfFollows = 0;
                    var numberOfFollowing = 0;
                    data.forEach(follow => {
                        if (follow.followingname == "<%= username %>") {
                            numberOfFollows++;
                        }
                        if (follow.followername == "<%= username %>") {
                            numberOfFollowing++;
                        }
                    })
                    var profileInfoDiv = document.querySelector('.profile-info-div');
                    if (numberOfFollows != 1)
                        profileInfoDiv.innerHTML += `
                    <h2 class="profile-info-posts">${numberOfFollows} Followers</h2>
                    <h2 class="profile-info-posts">${numberOfFollowing} Following</h2>
                    `;
                    else
                        profileInfoDiv.innerHTML += `
                    <h2 class="profile-info-posts">${numberOfFollows} Follower</h2>
                    <h2 class="profile-info-posts">${numberOfFollowing} Following</h2>
                    `;
                })
            const postData = await fetch('/posts/' + stringname).
            then(response => response.json()).then(data => {
                var profileInfoDiv = document.querySelector('.profile-info-div');
                if (data.length != 1)
                    profileInfoDiv.innerHTML += `
                <h2 class="profile-info-posts">${data.length} Posts</h2>
                `;
                else
                    profileInfoDiv.innerHTML += `
                <h2 class="profile-info-posts">${data.length} Post</h2>
                `;
                data.forEach(post => {
                    var date = new Date(post.reviewdate).toDateString();
                    const now = new Date().toDateString();
                    console.log(date);
                    console.log(now);
                    if (date === now) {
                        date = "Today";
                    }
                    const containerLeft = document.querySelector('.post-div');
                    containerLeft.innerHTML += `
                <div class="post-header">
                    <img src = "https://cdn.pixabay.com/photo/2013/07/13/12/07/avatar-159236_1280.png" class="post-image">
                    <div class="post-subheader">
                        <h3 class="post-name">${post.username}</h3>
                        <span class="post-date">${date}</span>
                    </div>
                </div>
                <div class="post-body">
                    <h3 class="post-title">${post.title}</h3>
                    <p class="post-text">${post.description}</p>
                    <div class="post-image">
                        <img src= "${post.imagelink}" alt=""/>
                    </div>
                </div>
                 <div class="post-footer">
                    
                    <form class="like-div" action="${"<%= username %>" == post.username ?"/posts/likes/mylike" : "/posts/likes"}" method="POST">
                        <input type="hidden" name="postid" value="${post.crid}">
                        <input type="hidden" name="username" value="${post.username}">
                        <input type="submit" class="${mapUserLikes.get(post.crid)==true?"like-btn":"like-btn-al"}" value="${mapUserLikes.get(post.crid) == true? 'Liked' : 'Like'}">
                        <p style="color:#f5f5f5;background:#184ad1; padding:8.5px; border-top-right-radius:10px; border-bottom-right-radius:10px;">${mapData.get(post.crid) == undefined? 0 : mapData.get(post.crid)}</p>
                    </form>
                    <form class="delete-div" style=${"<%= sessionUser %>" == post.username ?"display:block;" : "display:none;"} action = "/posts/delete/${post.crid}" method = "POST">
                        <input type="submit" class="delete-btn" value="Delete" onclick="e=>e.preventDefault()"/>
                    </form>
                </div>

                `;
                })
                if (data.length === 0) {
                    document.querySelector('.post-div').innerHTML = `
                <div class="post-body" style="display:flex; justify-content:center; align-items:center;">
                <h2 class="post-title" style="text-align:center;">No posts yet</h2>
                </div>
                `;
                }
            });
        }

        function convert(str) {
            var date = new Date(str),
                mnth = ("0" + (date.getMonth() + 1)).slice(-2),
                day = ("0" + date.getDate()).slice(-2);
            return [date.getFullYear(), mnth, day].join("-");
        }
        async function getActivity() {
            //heatmap code
            var mp = new Map();
            const activityData = await fetch('/activity/<%=username%>')
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    data.forEach(activity => {
                        var d = convert(activity.reviewdate);
                        console.log(d);
                        mp.set(d, activity.count);
                    })
                })
            let activityHeaders = document.createElement('div');
            activityHeaders.classList.add('activity-header');
            let activityGrid = document.querySelector('.activity-grid');
            activityGrid.style.background = 'rgba(255, 255, 255, 0.13)';
            activityGrid.style.padding = '10px';
            activityGrid.style.margin = '10px';
            activityGrid.style.borderRadius = '10px';
            activityGrid.style.maxWidth = '95vw';
            activityGrid.style.overflowX = 'scroll';
            var d = new Date();
            d.setDate(d.getDate() - 364);
            var p = d;
            d = new Date();
            //logging in table
            for (var i = 0; i < 7; i++) {
                let activityRow = document.createElement('div');
                activityRow.classList.add('activity-row');
                activityRow.style.display = 'flex';
                activityRow.style.justifyContent = 'center';
                activityRow.style.alignItems = 'center';
                for (var j = 0; j < 52; j++) {
                    let activityCol = document.createElement('div');
                    activityCol.classList.add('activity-col');
                    activityCol.style.width = '3vmin';
                    activityCol.style.height = '3vmin';
                    activityCol.style.border = '0.5px solid #f5f5f5';
                    var chk = convert(p);
                    p.setDate(p.getDate() + 1);
                    console.log(chk);
                    if (mp.get(chk) == undefined) {
                        activityCol.style.background = '#23daf6';
                    } else if (mp.get(chk) > 0 && mp.get(chk) < 3)
                        activityCol.style.background = '#23a2f6';
                    else if (mp.get(chk) >= 3 && mp.get(chk) < 5)
                        activityCol.style.background = '#184ad1';
                    else if (mp.get(chk) >= 5) {
                        activityCol.style.background = '#0f4c75';
                    }
                    activityRow.appendChild(activityCol);
                }
                activityGrid.appendChild(activityRow);
            }
        }
        async function getFollows() {
            var map = new Map();
            const followData = await fetch('/follow/<%=currentUser%>')
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    data.forEach(follow => {
                        map.set(follow.followingid, true);
                    })
                });
            if ('<%=currentUser%>' != '<%=id%>') {
                if (map.has('<%=id%>')) {
                    const actionDiv = document.querySelector('.profile-div');
                    const followDiv = document.createElement('div');
                    followDiv.classList.add('follow-div');
                    followDiv.style.position = 'absolute';

                    followDiv.style.display = 'flex';
                    followDiv.style.justifyContent = 'center';
                    followDiv.style.alignItems = 'center';
                    followDiv.style.margin = '10px';
                    followDiv.style.padding = '10px';
                    followDiv.style.borderRadius = '10px';
                    followDiv.style.color = '#f5f5f5';
                    followDiv.style.cursor = 'pointer';
                    followDiv.innerHTML = `
                    <form action="/followlog/delete/<%=id%>" method="POST">
                        <input type="hidden" name="followingname" value="<%=username%>"/>
                        <input type="submit" class="unfollow-btn" value="Following"/>
                    </form>
                    `;
                    actionDiv.appendChild(followDiv);
                } else {
                    const actionDiv = document.querySelector('.profile-div');
                    const followDiv = document.createElement('div');
                    followDiv.classList.add('follow-div');
                    followDiv.style.position = 'absolute';

                    followDiv.style.display = 'flex';
                    followDiv.style.justifyContent = 'center';
                    followDiv.style.alignItems = 'center';
                    followDiv.style.margin = '10px';
                    followDiv.style.padding = '10px';
                    followDiv.style.borderRadius = '10px';
                    followDiv.style.color = '#f5f5f5';
                    followDiv.style.cursor = 'pointer';
                    followDiv.innerHTML = `
                    <form action = '/followlog' method = "POST">
                        <input type="hidden" name="username" value="<%=currentUser%>"/>
                        <input type="hidden" name="following" value="<%=id%>"/>
                        <input type ="hidden" name="followingname" value="<%=username%>"/>
                        <input type="submit" class="follow-btn" value="Follow" onclick="e=>e.preventDefault()"/>
                    </form>
                    `;
                    actionDiv.appendChild(followDiv);
                }
            }
        }
        async function getData() {
            document.getElementById('loadingDiv').style.display = 'block';
            await fetchData(), getActivity(), getFollows();
            document.getElementById('loadingDiv').style.display = 'none';
        }
        getData();
    </script>
</body>

</html>